# Step 1: Import Necessary Libraries
Before we begin cleaning and analyzing the dataset, we need to import essential Python libraries:

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Step 2: Load Data Set
INTRODUCE DATA SET HERE - say that it is to see problems with the data and start tidying process

In [37]:
olympics = pd.read_csv("data/olympics_08_medalists.csv")
olympics.head()

,medalist_name,male_archery,female_archery,male_athletics,female_athletics,male_badminton,female_badminton,male_baseball,male_basketball,female_basketball,...,female_beach volleyball,male_volleyball,female_volleyball,male_water polo,female_water polo,male_weightlifting,female_weightlifting,male_freestyle wrestling,female_freestyle wrestling,male_greco-roman wrestling
0,Aaron Armstrong,NaN,NaN,gold,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Peirsol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abdullo Tangriev,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abeer Abdelrahman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,bronze,NaN,NaN,NaN
4,Abhinav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 # Step 2: Melt

In [39]:

#Should I call this olympics_meleted
olympics_melted = pd.melt(olympics, id_vars=['medalist_name'],
                             value_vars=[col for col in olympics.columns if col != 'medalist_name'],
                             var_name='gender_event', value_name='Medal')
olympics_melted.head()

       medalist_name  gender_event Medal
0    Aaron Armstrong  male_archery   NaN
1      Aaron Peirsol  male_archery   NaN
2   Abdullo Tangriev  male_archery   NaN
3  Abeer Abdelrahman  male_archery   NaN
4            Abhinav  male_archery   NaN

In [ ]:
olympics_melted[['gender', 'event']] = olympics_melted['gender_event'].str.split('_', expand=True)
olympics_melted.drop(columns=['gender_event'])
olympics_tidy = olympics_melted[['medalist_name','gender','event','Medal']]
olympics_tidy = olympics_tidy.dropna(subset=['Medal'])
olympics_tidy = olympics_tidy.sort_values(by=['medalist_name'], ascending=True)
olympics_tidy.head()

            medalist_name  gender           event   Medal
3750      Aaron Armstrong    male       athletics    gold
90001       Aaron Peirsol    male        swimming    gold
69377    Abdullo Tangriev    male            judo  silver
123753  Abeer Abdelrahman  female   weightlifting  bronze
84379             Abhinav    male  shooting sport    gold

In [55]:
olympics_tidy.describe()

          medalist_name gender      event   Medal
count              1875   1875       1875    1875
unique             1875      2         38       3
top     Aaron Armstrong   male  athletics  bronze
freq                  1   1032        166     668

In [53]:
#Count number of Medalists
medalists = olympics_tidy['Medal'].shape[0]
print(f'There are {medalists} Medalist in the Data Set')

#Count number of Evnts
Events = olympics_tidy['event'].nunique()
print(f'There where {Events} differnet sports in the 2008 Olympic Games')

#Count number of Medals by type
gold_count = (olympics_tidy['Medal'] == 'gold').sum()
silver_count = (olympics_tidy['Medal'] == 'silver').sum()
bronze_count = (olympics_tidy['Medal'] == 'bronze').sum()

print(f"Gold: {gold_count}, Silver: {silver_count}, Bronze: {bronze_count}")

There are 1875 Medalist in the Data Set
There where 38 differnet sports in the 2008 Olympic Games
Gold: 586, Silver: 621, Bronze: 668